body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
}

.nav__link {
  margin-left: 20px;
}

.container {
  max-width: 760px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  min-height: 100vh;
}

.articles-list {
  margin-top: 3.5rem;
}

.article-list__section-heading {
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(196, 193, 193);
  margin-bottom: 2.2rem;
}
